# ignore these files when synchronizing

# ignore python compiles
*.pyc

# ignore temporary files
*~

# ignore EagleUp export files
eagleUp/


# ignore PyCharm settings
.idea/

# ignore python compiled -and binaries
*.pyo

# ignore windows files
Thumbs.db