<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-- Reference: http://kodi.wiki/view/Add-on_settings -->

<settings>

	<setting label="Gateway settings" type="lsep"/>
	<setting label="Address" id="gateway.ip-address" type="ipaddress" default="127.0.0.1"/>
	<setting label="Port" id="gateway.port" type="number" default="4287"/>

	<setting label="BMW-infotainment" type="lsep"/>
	<setting label="Show welcome text" type="bool" id="welcome-text.enabled" default="true"/>
	<setting label="Welcome text in kombi-instument" enable="eq(-1,true)" type="text" default="Welcome!" id="welcome-text"/>

</settings>
